.tweets{
	line-height: inherit;
	cursor: pointer;
	overflow:hidden;
}
.img{
	float: left;
	margin-top: 3px;
	margin-left: 0px;
}
.usr{
	margin-left: 58px;
}
.usuario{

}

h1 {
    text-align: center;
}

#espacio{
	height: 97px;
}

.name{
	font-weight: bold;
	color: #333;
	padding-right: 10px;
}
.username{
	direction: ltr;
	unicode-bidi: embed;
	color: #BBB;
	font-weight: normal;
}
.date{
	font-size: 12px;
	color: #999;
	float: right;
}
.text{
	white-space: pre-wrap;
}
		